<div>
  withoutpipe :  {{mydate}}
  <br>
  <br>
  shortDate :  {{mydate|date:"shortDate"}}
    <br>
    <br>
  longDate :  {{mydate|date:"longDate"}}
    <br>
    <br>
   fullDate : {{mydate|date:"fullDate"}}
   <br>
   <br>
               {{mynumber}}
    <br>
    <br>
          {{mynumber|percent}}
    <br>
    <br>
         {{mynumber|percent:'2.4-8'}}
         <br>
         <br>
               {{mynumber}}
    <br>
    <br>
          {{mynumber|number}}
    <br>
    <br>
         {{mynumber|number:'2.4-8'}}
         <br>
         <br>
               {{mynumber}}
    <br>
    <br>
          {{mynumber|currency}}
    <br>
    <br>
         {{mynumber|currency:'INR':'code'}}
</div>
<button class="btn btn-primary">hello</button>